body {
  font-family: sans-serif;
  background-color: #e9e9ed;
}

a {
  text-decoration: none;
  color: black;
  padding: 1%;
}

a:visited {
  color: black;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-evenly; */
  width: 100vw;
  height: 70px;
}

.logo {
  width: 250px;
  height: 150px;
  /* background-color: #bd85a7; */
  padding-top: 40px;
}

.nav-links {
  border: grey 2px solid;
}

.nav-links:hover {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  /* border-radius: 20% 10% 10% 20%; */
}
